
/* setup */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #cf7c7c;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/*  Profile Card + Box Model */
.profile-card {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(240, 4, 4, 0.1);
}

/* Header */
.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 120px;
    border-radius: 50%;
}

/* Typography & Colors */
#name {
    font-size: 2rem;
    color: #6a4bc3;
}

.subtitle {
    color: #555;
}

h2 {
    color: #6a4bc3;
    margin-top: 30px;
}

p {
    color: #333;
}

/* Contact link */
.link {
    display: inline-block;
    margin-right: 15px;
    color: #6a4bc3;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
    color: #432b8c;
}

/* Skills Flexbox */
.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill {
    background-color: #e6e0f8;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
}
.favorite-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.favorite-table th {
    background-color: #f187c9;
    color: white;
    padding: 12px;
}

.favorite-table td {
    background-color: #ffcff4;
    padding: 10px;
    text-align: center;
}

.favorite-table tr:hover td {
    background-color: #38bcba;
}

/* Activity */
   .activity-img {
    width: 40%;       
    max-width: 500px;  
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* Comment Section  */
.comment-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f5f0ff;
    border-radius: 12px;
}

.comment-section h3 {
    color: #6a4bc3;
}

.comment-section input,
.comment-section textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #01240d;
}

.comment-section input[type="submit"] {
    background-color: #27af4d;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.comment-section input[type="submit"]:hover {
    background-color: #da13a5;
}

/* Responsive */
@media (max-width: 768px) {

    .profile-card {
        padding: 20px;
    }

    .profile-header {
        flex-direction: column;
        text-align: center;
    }

    .avatar {
        width: 100px;
    }

    #name {
        font-size: 1.6rem;
    }
}









